:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: #27227c;
    display: grid;
    grid-template-rows: AUTO 1fr auto;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}
h1 {
    color: #dedede;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

img {
    display: flex;
    align-items: center;
    border-radius: 70%;
}
#before img {
    margin: 10px;
}
#before {
    justify-items: center;
}

#after {
    justify-items: center;
}

.hide {
    display: none;
}

.space {
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}
p {
    color: #2efcfc;
    position: absolute;
    font-size: 15px;
    max-width: 65px;
    text-align: center;
    margin-top: -15px;
    font-family: monospace;
}

.reveal {
    width: 100%;
    position: relative;
}
